@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0');

// color variables
$bg1: #262930;
$bg2: #181B20;
$bg3: #2C313A;
$text1: #FFFFFF;
$text2: #dbdbdb;
$text3: #a0a0a0;

body {
    margin: 0;
    background-color: $bg2;
    color: white;
    font-family: 'Poppins', sans-serif;
}

$scrollbar-color: #bababa;
$scrollbar-bg: #00000000;
$srollbar-border: #00000000;
$scrollbar-width: 8px;

// Firefox
* {
    scrollbar-width: auto;
    scrollbar-color: $scrollbar-color $srollbar-border;
}

// Chrome
*::-webkit-scrollbar {
    width: $scrollbar-width;
}

*::-webkit-scrollbar-track {
    background: $scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 10px;
    border: 3px solid $srollbar-border;
}

space-layout {
    display: flex;
    height: 100vh;
}

space-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    input {
        background-color: $bg1;
        border: none;
        outline: none;
        padding: 8px 16px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    button {
        background-color: #2a8bf2;
        border: none;
        outline: none;
        padding: 8px 16px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        color: white;
        border-radius: 999px;

        &:hover {
            cursor: pointer;
            background-color: #1e6ccf;
        }
    }

}

space-list {
    background-color: $bg1;
    color: white;
    height: 100%;
    border-right: 2px solid $bg3;
}

space-userlist {
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-width: 200px;
}

space-useritem {
    padding: 8px;

    &:hover {
        background-color: $bg3;
    }
}

space-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

space-header {
    padding: 16px;
    background-color: $bg1;
    border-bottom: 2px solid $bg3;
}

space-messages {
    display: block;
    padding: 16px;
    height: 100%;
    overflow-y: scroll;
}

space-message {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .name {
        font-weight: 500;
    }

    .date {
        font-size: 12px;
        color: $text3;
    }

    .dowm {
        color: $text2;
    }
}

space-input {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: $bg1;
    border-top: 2px solid $bg3;
    gap: 8px;

    input {
        flex-grow: 1;
        background-color: $bg2;
        border-radius: 999px;
        color: white;
        border: none;
        outline: none;
        padding: 8px 16px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }

    span {
        background-color: #2a8bf2;
        border-radius: 999px;
        padding: 8px;

        &:hover {
            cursor: pointer;
            background-color: #1e6ccf;
        }
    }
}